<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id='app'>
        <ul style="list-style: none">
            <li v-for="(name, index) in names">
                {{index + 1 }}) {{name}} <b @click='names.splice(index, 1)'>X</b>
            </li>
        </ul>
        <input v-model='name'>
        <button @click='AddName'>Add Name</button>
    </div>
    <script src="src/libs/vue.js"></script>
    <script src="src/index.js"></script>
</body>

</html>